__pycache__

/.vscode
/outputs
/runs
/logs
/tmp
/model/*
/train_data/*
/test_data/*
!/model/.gitkeep
!/train_data/.gitkeep
!/test_data/.gitkeep

gend-submission.tar
.tmp-gend-submission.tar*
*.tar
*.tar.gz
*.tgz
*.zip
*.ckpt
*.pth
*.pt
*.onnx
*.bin
*.png
x.py
y.py
z.py
